<div class="container">
  <p>My Profile</p>
    <div class="row">
      <div class="col-md-2">
        <strong><strong>Email:</strong>
      </div>
      <div class="col-md-4">
        <%= @user.email %>
      </div>
    </div>
</div>
