<div class="container">
  <h2 id="list-title">My Tasks</h2>
    <div id="list" class="row">
      <div>
        <%= render partial: 'items/form' %>
        <%= render partial: 'items/item' %>
      </div>
    </div>
</div>
