// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#list-title {
  padding-top: 40px;
  float: right;
  padding-right: 300px;
  margin-top: 20px;
  color: #f1f13e;
  display: block;
  padding-bottom: 20px;
}

#list {
  display: inline;
  margin-top: 100px;
  margin-left: 380px;
}

.form-group {
  display: inline;
}
